.review-card-container{
    display: flex;
    flex-direction: row;
    margin: 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px 8px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.photo{
    width: 350px;
    height: 300px;
    margin-right: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.stars{
    display: flex;
    flex-direction: row;
    color: gold;
    margin-block: 10px
}