.blogContainer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(182, 177, 177, 0.425);
    width: 350px;
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 220px;
}




.blogImage{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
    overflow: hidden;
    opacity: 1;
    display: block;
    width: 100%;
    height: 220px;
    transition: .5s ease;
    backface-visibility: hidden;
}


.blogData{
    background-color: white;
    opacity: 0.7;
    color: black;
    font-weight: 600;
    
    display: flex;
    flex-direction: column;
}


.blogDate{
    background-color: white;
    opacity: 0.7;
    color: black;
    font-weight: 600;
    
    display: flex;
    flex-direction: column;
    margin-inline: 0.5rem;
}

.blogTitle{
    cursor: pointer;
    margin-inline: 1rem;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 0px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.blogTitle:hover{
    color: black;
}

.blogDescription{
    margin-inline: 1rem;
    font-size: 13px;
    font-weight: 800;
    color: rgb(90, 87, 87);
    line-height: 17px;
    padding-bottom: 10px;
}

.nav-item{
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: 25px;
    color: blue;
    font-weight: var(--bs-nav-link-font-weight);
   
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    font-weight: bold;
   
    
}

.nav-item:hover{
    text-decoration: underline;
}