
.search-container{
    background:black;
    background-color: #333;
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    padding-top:30px;
    overflow: hidden;
    position: relative;
}


.header-bg{
    opacity: .4;
    filter: alpha(opacity=100);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    transition: all 1s;
    -webkit-transition: all 1s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500;
}


.title-search{
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.short-description{
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

.search-links{
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.link{
    text-decoration: none;
    color: white;
    font-weight: bold;
   padding: 20px;
}

.link:hover{
    text-decoration:3px underline  goldenrod;
   color: white;
}
