
.estate-card-container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(182, 177, 177, 0.425);
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid gray;
    position: relative;
}

.image-estate{
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.estate-carousel {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    width: 100%;
    overflow: hidden;
    /* margin-bottom: 1rem; */
}

.estateSaleType{
    margin-inline: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    
}

.estatusType {
    
    padding: 6px;
    border-radius: 30%;
}

.nameType{
    font-size: 15px;
   
}

.estate-carousel-prev-left {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    left: 0;
    padding: 20px;
    cursor: pointer;
}

.estate-carousel-button {    
    font-size: 1.25rem;
    padding: 10px;
    border-radius: 50%;
    background-color: #808080ad;
}

.estate-carousel-prev-right {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    right: 0;
    padding: 20px;
    cursor: pointer;
}

.estate-name {
    margin-inline: 1rem;
    font-size: 16px;
    font-weight: 800;
    line-height: 28px;
    padding-bottom: 0px;
}

.estate-description{
    margin-inline: 1rem;
    font-size: 11px;
    font-weight: 600;
    color: rgb(90, 87, 87);
    line-height: 12px;
    padding-bottom: 0px;
}

.estate-price {
    margin-inline: 1rem;
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
    text-shadow: 1px 1px 1px gray;

}

.price-simbol{
    color: green;
}

.caracteristicas{
    font-size: 10px;
    font-weight: 700;
    margin-inline: 1rem;
}
.estate-features {
    margin-inline: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-radius: 10px;
   
}

.position-meters{
    margin: 2px;
}



.estate-agent-container {
    font-size: 15px;
    font-weight: 700;
    margin-inline: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block: 0.5rem;
    border-top: 1px solid #9c9b9b;
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-weight: bold;
}
.estate-name-container{
    text-align: center;
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-weight: bold;
}
.estate-name-container:hover{
    text-decoration: 1px solid underline;
    color: black;
}

.estate-carousel-content {
    position: relative;
    float: left;
    width: 100%;
    margin-right: -100%;
}

.estate-agent-container .estate-agent-name {
    cursor: pointer;
    margin-left: 1rem;
    
}
.estate-agent-name:hover{
    text-decoration: 1px solid underline;
    color: black;
}

.estate-agent-container:hover{
    color: black;
}
.estate-bedrooms{
    padding-inline: 8px;
}

.estate-agent-img{
    cursor: pointer;
    border-radius: 50%;

    border: solid 2px gray;
    cursor: pointer
}

.box-icons{
    border-left: black;
    
}

@media screen and (max-width: 1024px) {
    .estate-card-container{
        width: 100px;
    }
    
  }

  @media screen and (max-width: 768px) {
   
  }