.containerBlog{
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.containerTitleBlog{

}

.titleBlog{
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    text-shadow: 1.5px 2px #b1adad;
    color: #212529;
}

@media screen and (max-width: 1440px) {
   .containerBlog{
      height: 500px;
      margin: 12px;
   }
   }
   
@media screen and (max-width: 1024px) {
     .containerBlog{
        margin: 12px;
        height: 480px;
     }
     .titleBlog{
      padding: 5px;
     }

   }
   
@media screen and (max-width: 768px) {
     .containerBlog{
        margin: 12px;
        height: 420px;
     }
     }
   
@media screen and (max-width: 430px) {
    .containerBlog{
        margin: 12px;
        height: 430px;
     }
     .titleBlog{
        font-size: 25px;
        margin: 5px;
        padding: 5px;
     }
     
     }
   
@media screen and (max-width: 390px) {
     .containerBlog{
      width: 418px;
     }
     }
   
@media screen and (max-width: 330px) {
       
     }