.market{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;  
    
}

.title{
    color: #4C1816;
    font-family: 'Playfair Display';
    font-weight: bold;
    line-height: 1.167;
    margin-inline: 0.5rem;
    padding: 8px;
}

.marketContainer:hover{
    background-color: #4C1816;
    color: white;
}

.marketContainer{
    display: inline-block;
    padding: 12px;
    min-width: 250px;
    border: 3px solid #4C1816;
    color: #4C1816;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease 0s;
    margin-inline: 0.8rem;
}

.marketTitle{
    color: inherit;
}