@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");


.container-about-us{
    padding-top: 40px;
    padding-inline: 80px;
    font-family: 'Montserrat', sans-serif;
}
.estate-description-container{
    margin: 20px;
    font-weight: bold;
}

/*para estilizar el box-about-us*/


.title-about-us
{
    text-align: left;
    margin-top: 20px;
    font-size: 34px;
    font-weight: bold;
    
}

.about-us-img{
    position: relative;
   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.about-us-img-top{
    position: absolute;
    margin-top: 10px;
    background: rgba(10, 81, 214, 0.5);
    font-weight: 900;
    font-size: 30px;
    top: 139px;
    left: 90px;
    
}

.text-about-us{
    font-size: 15px;
    font-weight: 800;
}

.goals-text{
    font-size: 15px;
    font-weight: 800;
}


.socials-box{
    margin-top: 20px;
    display: flex;
    background-size: cover;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    border-radius: 10px;
    padding: 8px;
}






/*para estilizar el goals-box*/
/*.box-estate-goals{
    padding: 10px;
    border-right: 1px solid rgb(184, 183, 183);
} */
.goals-title{
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
    
}

.goals-team-img{   
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.agents-text{
    font-size: 15px;
    font-weight: 800;
}

/*para estilizar el Contact Us*/
.box-contact-us{
    background-color: rgb(245, 239, 239);
    border-radius: 20px;
    position: sticky;
    top:80px;
    border:1px solid rgba(10, 81, 214, 0.5);
    margin-bottom: 1rem;
   /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
}



.estate-agent-container{
    display: flex;
    flex-direction: column;
    margin-inline: 1rem;
    border-radius: 12px;
    gap: 1rem;
    margin-bottom: 10px;
}

.estate-agent-top{
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    padding-bottom: 0px;
    border-bottom: 1px solid rgb(173, 171, 171);
   
}





/*Container contacto agente*/

.contact-me-box{
    position: sticky;
    top:75px;
    margin-bottom: 15px;
}

.contact-title{
    font-size: 18px;
    font-weight: bold;
    margin-inline: 0.5em;
}

.estate-agent-top{
    font-weight: bold;
    font-size: 28px;
    font-weight: 800;
    line-height: 28px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(173, 171, 171);
}



.estate-agent-top{
    font-weight: bold;
    font-size: 28px;
    font-weight: 800;
    line-height: 28px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(173, 171, 171);
}
.phone-top ,
.email-top{
    color: grey;
    font-size: 15px;
}

.phone {
    text-decoration: none;
}
.email{
    text-decoration: none;
}

.agent-phone i, .agent.email i{
  font-size: 20px;
}


.agent-phone a, .agent-email a{
  text-decoration: none;
  font-size: 15px;
  color: #007BFF;
  margin-left: 5px;
}

.agent-phone{
    display: flex;
    align-items: center;
}

.agent-email{
    display: flex;
    align-items: center;
}
.estate-agent-features{
   
    margin-bottom: 1rem;
    font-size: 13.5px;
    font-weight: 900;
    line-height: 28px;
    padding-bottom: 0px;
}

.contact-me-name{
    font-weight: bold;
}
.name-top{
    font-size: 15px;
}

.contact-me-rol{
    font-weight: 600;
    font-size: 25px;
}

/*Agent Contact form */


.estate-agent-top{
    font-weight: bold;
    font-size: 30px;
}
.form-control{
    font-weight: 400;
    line-height: 28px;
    letter-spacing: .00937em;
    text-decoration: inherit;
    text-transform: inherit;
    border: 1px solid rgba(158, 153, 153, 0.705);
    border-radius: 5px;
    background: none;
    color: #000000de;
    outline: 0;
    padding: 6px 4px;
}
  

.form-group{
    display: flex;
    flex-direction: column;
    margin-inline: 0.5em;
    gap: 15px;
    padding: 8px;
}

.contact-title{
    font-size: 18px;
    font-weight: 800;
    
}



.contact-form input, .contact-form textarea
{
  font-size: 16px;
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 3px solid #bbb;
  line-height: 20px;
  text-indent: 5px;
  width: 100%;
  display: block;
  clear: both;
  margin-bottom: 5px;
  margin-inline: 0.5em;
}
.contact-form textarea
{
  height: 100px;
}


.contact-form input:hover, .contact-form textarea:hover
{
  outline: none;
  border-color: #AAA;
}
.contact-form input:focus, .contact-form textarea:focus
{
  outline: none;
  border-color: #888;
}

.facebook {
    color: #4e64b5;
    
}

.twitter {
    
}
.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
    -webkit-text-fill-color: transparent;
    
     /* change this to change the size*/
    
}
.youtube {
    color: red;
}

.telegram {
    color:  #0088cc;
}

.title-estates{
    margin-bottom: 24px;
}
  
        
.contact-btn{
    margin-inline: 0.5em;
    border-radius: 5px;
    background-color: #4e64b5;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
    padding: 6px;
    margin-inline: 1.6rem;
}

.contact-btn:hover{
    color: black;
    background-color:#2747bbcc ;
}
      
  
    
  
