.container-info-2{
    background-color:rgb(223, 220, 220);
    color: black;
    /*background-color: #212529; */
    display: flex;
    flex-direction: column;
}



.box-info{
    margin-inline: 2rem;
    font-size: 2rem;
    align-items: center;
    padding: 20px;

}

.elite-title{
    display: block;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 600;
    color: #4C1816;
}

.box-description{
    display: block;
    font-size: 0.9rem;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
    margin-inline: 0.5rem;
}


.blog-img{
  
    padding: 20px;
   border-radius: 5px;
}

.linkpage{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #4C1816;
    text-decoration: transparent;
    margin-inline: 0.5rem;
}

.linkpage:hover{
    color: #4C1816;
    text-decoration: underline;
}
