.container-features{
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      
  }
  
  .titleEstates{
    color: #131176;
    font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.167;
    margin-inline: 0.5rem;
    padding: 8px;
  }

  @media screen and (max-width: 1440px) {
    .container-features{
     height: 600px;
     margin: 16px;
    }
   }
   
   @media screen and (max-width: 1024px) {
     .container-features{
      height: 550px;
     }
   }
   
   @media screen and (max-width: 768px) {
     .container-features{
       height: 535px;
     }
       
     }
   
   @media screen and (max-width: 430px) {
      .title-estates{
       text-align: center;
      }
       .container-features{
         margin: 0 4px 0 14px;
       }
     }
   
   @media screen and (max-width: 390px) {
      .container-features{
       width: 420px;
      }
       .title-estates{
         text-align: center;
       }
     }
   
     @media screen and (max-width: 330px) {
       .container-features{
         margin: 5px 8px  10px;
       }
     }
   
   