@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.estates-filter{
    padding-top: 20px;
    padding-inline: 20px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 40px;
    
}

.category-filter-bar{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
 
}

.estate-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    font-weight: bold;
    color: grey;
}


.estate-item:hover{
    color: #252925;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}


.title{
    background-color: grey;
    border-radius: 5px;
}
.title-elite{
    font-size: 22px;
	font-weight: 900;
	padding: 8px;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
	text-decoration: none;
	color: rgb(255, 166, 0);
    left: -50px;
    
}

.input{
    width: 50%;
}

.filter-btn{
    border-radius: 5px;
    background-color: grey;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    padding: 8px;
    margin-inline: 1.6rem;
   margin-bottom: 12px;
   padding: 9px;
}

 .filter-btn:hover{
    color: white;
    background-color:#252925;
}